* {
	box-sizing: border-box;
}

body {
	background-color: #F0E8D9;
}

#return a {
	text-decoration: none;
	font-weight: bold;
	color: orange;
	font-size: 30px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	width: 512px;
	height: 342px;
}

.menukor {
	text-align: center;
	font-family: Jua;
}

.map {
	text-decoration: none;
	color: orange;
}

.navermap {
	text-align: center;
}